<!DOCTYPE html>
<html>
  <head>
    <title>Checkout</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <% include partials/_header %>
  </head>
  <% include partials/_navbar %>
  <div class="col-md-12">
    <div class="row">
      <div class="col-md-3"></div>
      <div class="center-column col-md-6">
        <section class="customer-details">
          <h2>Datos del pago</h2>
          <!-- Order ID -->
          <div class="form-group">
            <label for="orderId">Order-id</label>
            <input readonly class="form-control" name="vads_order_id" value="<%= parameters.vads_order_id %>" />
          </div>
        
          <!-- Monto -->
          <div class="form-group">
            <label for="amount">Monto</label>
            <input readonly class="form-control" name="amount" value="<%= (parameters.vads_amount / 100).toFixed(2) %>" />
          </div>
        
          <!-- Moneda -->
          <div class="form-group">
            <label for="amount">Moneda</label>
            <input readonly class="form-control" name="currency" value="<%= parameters.vads_currency === '604' ? 'PEN' : 'USD' %>" />
          </div>
        </section>

        <!-- Formulario con los datos de pago -->
        <form action="https://secure.micuentaweb.pe/vads-payment/" method="post">
          <!-- Inputs generados dinámicamente -->
          <input type="hidden" name="vads_action_mode" value="<%= parameters.vads_action_mode %>" />
          <input type="hidden" name="vads_amount" value="<%= parameters.vads_amount %>" />
          <input type="hidden" name="vads_ctx_mode" value="<%= parameters.vads_ctx_mode %>" />
          <input type="hidden" name="vads_currency" value="<%= parameters.vads_currency %>" />
          <input type="hidden" name="vads_cust_address" value="<%= parameters.vads_cust_address %>" />
          <input type="hidden" name="vads_cust_cell_phone" value="<%= parameters.vads_cust_cell_phone %>" />
          <input type="hidden" name="vads_cust_city" value="<%= parameters.vads_cust_city %>" />
          <input type="hidden" name="vads_cust_country" value="<%= parameters.vads_cust_country %>" />
          <input type="hidden" name="vads_cust_email" value="<%= parameters.vads_cust_email %>" />
          <input type="hidden" name="vads_cust_first_name" value="<%= parameters.vads_cust_first_name %>" />
          <input type="hidden" name="vads_cust_last_name" value="<%= parameters.vads_cust_last_name %>" />
          <input type="hidden" name="vads_cust_state" value="<%= parameters.vads_cust_state %>" />
          <input type="hidden" name="vads_cust_zip" value="<%= parameters.vads_cust_zip %>" />
          <input type="hidden" name="vads_cust_national_id" value="<%= parameters.vads_cust_national_id %>" />
          <input type="hidden" name="vads_order_id" value="<%= parameters.vads_order_id %>" />
          <input type="hidden" name="vads_page_action" value="<%= parameters.vads_page_action %>" />
          <input type="hidden" name="vads_payment_config" value="<%= parameters.vads_payment_config %>" />
          <input type="hidden" name="vads_redirect_success_timeout" value="<%= parameters.vads_redirect_success_timeout %>" />
          <input type="hidden" name="vads_return_mode" value="<%= parameters.vads_return_mode %>" />
          <input type="hidden" name="vads_site_id" value="<%= parameters.vads_site_id %>" />
          <input type="hidden" name="vads_trans_date" value="<%= parameters.vads_trans_date %>" />
          <input type="hidden" name="vads_trans_id" value="<%= parameters.vads_trans_id %>" />
          <input type="hidden" name="vads_url_success" value="<%= parameters.vads_url_success %>" />
          <input type="hidden" name="vads_version" value="<%= parameters.vads_version %>" />
          <input type="hidden" name="signature" value="<%= parameters.signature %>" />          
          <button class="btn btn-primary" type="submit" name="pagar">Pagar</button>
        </form>	
      </div>
      <div class="col-md-3"></div>
    </div>
  </div>
  <% include partials/_footer %>
</html>
